.button {
  width: 100%;
  min-height: 40px;
  max-width: 200px;
  min-width: 150px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background-color: rgb(0, 0, 0);
  transition: 0.3s ease;
  cursor: pointer;
}
